footer{
    background-color: #ffb610;
    color: black;
    min-height: 55vh
}
.scrollToTop{
    background-color: #ffb610;
    color: black;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: fit-content;
    padding: 15px 20px;
    border-radius: 2px;
    margin: right;
    box-shadow: rgba(0, 0, 0, 0.9)2px 4px 8px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color:rgba(0, 0, 0, 0.9);
}